/* Footer Styles */

.footer {
    background-color: rgba(194,181,6,255) ;
    padding: 5px;
    color: white;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #333;
    text-decoration: none;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .footer {
      padding: 10px;
    }
  }
  